{
  "printWidth": 110,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": { "singleQuote": false }
    }
  ]
}
